# EditorConfig is used for keeping formatting consistent: https://editorconfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 2

[{*.go, go.mod, go.sum}]
indent_style = tab
indent_size = 4
